footer {
    position: static;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007BFF;
    height: 80px;
}

footer p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    footer {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #007BFF;
        min-height: 50px;
    }
    
    footer p {
        color: #fff;
        font-size: 21px;
        font-weight: bold;
    }
}