.item-avaliacao {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #66B2FF;
}

.item-avaliacao .descricao {
    padding-top: 18px;
}

@media screen and (min-width: 768px) {
    .item-avaliacao {
        width: 40em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-avaliacao .descricao {
        padding-top: 18px;
        width: 400px;
    }
}

@media screen and (min-width: 1024px) {
    .item-avaliacao {
        width: 40em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 28px;
        background-color: #66B2FF;
    }
    
    .item-avaliacao .descricao {
        padding-top: 18px;
    }
}