.conteudo-container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 500px;
}

.lista-avaliacoes {
    margin-top: 32px;
    margin-bottom: 32px;
}
@media screen and (min-width: 375) {
    .conteudo-container {
        margin-top: 700px;
    }
}

@media screen and (min-width: 1024px) {
    .conteudo-container {
        margin-top: 600px;
    }
}