.perfil-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.perfil-container input[type="button"] {
    width: 25%;
}
.perfil-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.perfil-section form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 36px;
    background-color: #66B2FF;
    border-radius: 70px;
    width: 558px;
    height: 413px;
}