

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    border-radius: 70px;
    padding: 10px;
    border-style: none;
    font-size: 18px;
}

input:focus {
    outline: none;
}

@media screen and (min-width: 1024px) {
    input {
        width: 452px;
        border-radius: 70px;
        padding: 10px;
        border-style: none;
        font-size: 25px;
    }
}