nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;
}

nav ul li {
    background-color: #0056B3;
    display: flex;
}

nav ul li a {
    padding: 38px 44px;
    width: 159px;
    color: white;
    text-align: center;
}