.perfil-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
    margin-top: 100px;
}

.perfil-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-section form {
    background-color: #66B2FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .perfil-container {
        align-items: center;
        margin-top: 150px;
    }

    .perfil-section form {
        border-radius: 70px;
    }
}

@media screen and (min-width: 1024px) {
    .perfil-container {
        justify-content: center;
        margin-top: 0;
    }
    
    .perfil-container input[type="button"] {
        width: 25%;
    }
    .perfil-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 40px;
        padding: 0 24px;
    }
    
    .perfil-section form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0 36px;
        background-color: #66B2FF;
        height: 413px;
    }    
}
