.perfil-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
    margin-top: 30px;
}

.perfil-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.perfil-section form {
    background-color: #66B2FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.aviso-avaliacao {
    color: #fff;
    background-color: #66B2FF;
    margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
    .perfil-container {
        margin-top: 120px;
        align-items: center;
        justify-content: center;
    }

    .perfil-section {
        gap: 60px;
    }

    .perfil-section form {
        border-radius: 70px;
    }

    .aviso-avaliacao {
        font-size: 32px;
        margin-bottom: 12px;
        border-radius: 10px;
        padding: 12px;
    }
}

@media screen and (min-width: 1024px) {
    .perfil-container {
        justify-content: center;
        margin-top: 360px;
    }
    
    .perfil-container input[type="button"] {
        width: 25%;
    }
    .perfil-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 40px;
        padding: 0 24px;
    }
    
    .perfil-section form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0 36px;
        background-color: #66B2FF;
        height: 413px;
    }

    .aviso-avaliacao {
        font-size: 32px;
    }
}
